.jumbotron {
	background-color: #000066;
	color: white;
 	padding-bottom: 0px;
 	padding-right: 0px;
 	padding-left: 0px;
 	padding-top: 0px;

}


footer {
	padding: 10px 10px 0 10px;
	background-color: #001a1a;
	margin-bottom: 0px;
	margin-top: 20px;
	color: #80aaff;
}

.card-info {
	flex: 1 200px;
	justify-content: space-between; 
	margin-top: 10px;
	text-align: center;
}

.btn-info {
	background-color: blue;
	color: white;
	width: 100%;
}


body {
	background-color: #e6e6e6;
	color: #001a1a;
	text-align: center;
}

.footer-adress-icon {
	padding: 2px 10px 2px 5px;	
}

.btn-redes{
	margin-bottom: 40px;
}

.tab-content{
	padding-top: 5px;
}