$blue: #00105e;
$grey: #cfcfcf;

@mixin margenes ($top, $right, $bottom, $left){
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}

@mixin paddings ($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}
.jumbotron {
	background-color: $blue;
	color: white;
 	@include paddings (0px,0px,0px,0px);
}


footer {
	@include paddings (10px,10px,0px,10px);
	background-color: $blue;
	@include margenes (20px,0px,0px,0px);
	color: #80aaff;
}

.card-info {
	flex: 1 200px;
	justify-content: space-between; 
	@include margenes (10px,0px,0px,0px);
	text-align: center;
}

.btn-info {
	background-color: $blue;
	color: white;
	width: 100%;
}


body {
	background-color: $grey;
	color: $blue;
	text-align: center;
}

.footer-adress-icon {
	@include paddings (2px,10px,2px,5px);	
}

.btn-redes{
	@include margenes (0px,0px,40px,0px);
}

.tab-content{
	@include paddings (5px,0px,0px,0px);
}
