.jumbotron {
  background-color: #00105e;
  color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #00105e;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #80aaff; }

.card-info {
  flex: 1 200px;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center; }

.btn-info {
  background-color: #00105e;
  color: white;
  width: 100%; }

body {
  background-color: #cfcfcf;
  color: #00105e;
  text-align: center; }

.footer-adress-icon {
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 5px; }

.btn-redes {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px; }

.tab-content {
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
